/*
 * mami42 keymap
 *
 * レイヤー構成:
 *   0 mac_base  : Mac用ベースレイヤー (QWERTY)
 *   1 mac_num   : Mac用 数字/矢印キーレイヤー
 *   2 mac_sym   : Mac用 記号レイヤー
 *   3 win_base  : Windows用ベースレイヤー (QWERTY, LGUI/RGUI の代わりに LCTRL/RCTRL)
 *   4 win_num   : Windows用 数字/矢印キーレイヤー
 *   5 win_sym   : Windows用 記号レイヤー
 *
 * OS切り替え: 左手中央親指(MO 1/4キー) + 右手中央親指(MO 2/5キー) の同時押しコンボで
 *             win_base(レイヤー3)をトグルします。mac/win それぞれの base layer は
 *             すべてのキーを明示的に定義しているので、win_base を on にするだけで
 *             mac_base を隠す(Windowsモードになる)、off にすると mac_base に戻ります。
 *
 * このファイルはたたき台です。実際の割り当ては ZMK Studio でも調整できます。
 * ベースレイヤーの物理配置は kle/layout.json と doc/matrix-mapping.md を参照してください。
 *
 * bindings配列の並びについて:
 *   各レイヤーの bindings は SW1〜SW42 の物理位置順(mami42.overlay の
 *   default_transform / physical_layout と同じ順序)で並べています。
 *   見た目通りの行優先(TAB Q W E R T / ESC A S D F G / ...)では
 *   ズレるので注意してください。各行のコメントに SW番号と (row,col) を
 *   記載しています。
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    macros {
        // サンプルマクロ: 記号レイヤーの空きキーで "->" を入力する例
        arrow_macro: arrow_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp MINUS &kp GT>;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_os_toggle {
            timeout-ms = <50>;
            key-positions = <13 31>;  // 左MO(1/4)キー(SW14) + 右MO(2/5)キー(SW32)
            bindings = <&tog 3>;
        };

        combo_caps_word {
            timeout-ms = <50>;
            key-positions = <2 41>;  // 左Shift(SW3) + 右Shift(SW42)
            bindings = <&caps_word>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        mac_base {
            display-name = "mac_base";
            bindings = <
            &kp TAB     // SW1  (row0,col0)
            &kp ESC     // SW2  (row1,col0)
            &kp LSHFT   // SW3  (row2,col0)
            &kp Q       // SW4  (row0,col1)
            &kp A       // SW5  (row1,col1)
            &kp Z       // SW6  (row2,col1)
            &kp W       // SW7  (row0,col2)
            &kp S       // SW8  (row1,col2)
            &kp X       // SW9  (row2,col2)
            &kp LGUI    // SW10 (row3,col2) 左親指
            &kp E       // SW11 (row0,col3)
            &kp D       // SW12 (row1,col3)
            &kp C       // SW13 (row2,col3)
            &mo 1       // SW14 (row3,col3) 左親指
            &kp R       // SW15 (row0,col4)
            &kp F       // SW16 (row1,col4)
            &kp V       // SW17 (row2,col4)
            &kp T       // SW18 (row0,col5)
            &kp G       // SW19 (row1,col5)
            &kp B       // SW20 (row2,col5)
            &kp SPACE   // SW21 (row3,col5) 左親指
            &kp Y       // SW22 (row4,col5)
            &kp H       // SW23 (row5,col5)
            &kp N       // SW24 (row6,col5)
            &kp RET     // SW25 (row7,col5) 右親指
            &kp U       // SW26 (row4,col4)
            &kp J       // SW27 (row5,col4)
            &kp M       // SW28 (row6,col4)
            &kp I       // SW29 (row4,col3)
            &kp K       // SW30 (row5,col3)
            &kp COMMA   // SW31 (row6,col3)
            &mo 2       // SW32 (row7,col3) 右親指
            &kp O       // SW33 (row4,col2)
            &kp L       // SW34 (row5,col2)
            &kp DOT     // SW35 (row6,col2)
            &kp RGUI    // SW36 (row7,col2) 右親指
            &kp P       // SW37 (row4,col1)
            &kp SEMI    // SW38 (row5,col1)
            &kp FSLH    // SW39 (row6,col1)
            &kp BSPC    // SW40 (row4,col0)
            &kp SQT     // SW41 (row5,col0)
            &kp RSHFT   // SW42 (row6,col0)
            >;
        };

        mac_num {
            display-name = "mac_num";
            bindings = <
            &kp N1      // SW1
            &trans      // SW2
            &trans      // SW3
            &kp N2      // SW4
            &trans      // SW5
            &trans      // SW6
            &kp N3      // SW7
            &trans      // SW8
            &trans      // SW9
            &trans      // SW10 左親指
            &kp N4      // SW11
            &trans      // SW12
            &trans      // SW13
            &trans      // SW14 左親指
            &kp N5      // SW15
            &trans      // SW16
            &trans      // SW17
            &kp N6      // SW18
            &trans      // SW19
            &trans      // SW20
            &trans      // SW21 左親指
            &kp N7      // SW22
            &kp LEFT    // SW23
            &trans      // SW24
            &trans      // SW25 右親指
            &kp N8      // SW26
            &kp DOWN    // SW27
            &trans      // SW28
            &kp N9      // SW29
            &kp UP      // SW30
            &trans      // SW31
            &trans      // SW32 右親指
            &kp N0      // SW33
            &kp RIGHT   // SW34
            &trans      // SW35
            &trans      // SW36 右親指
            &kp MINUS   // SW37
            &kp HOME    // SW38
            &kp PG_UP   // SW39
            &kp EQUAL   // SW40
            &kp END     // SW41
            &kp PG_DN   // SW42
            >;
        };

        mac_sym {
            display-name = "mac_sym";
            bindings = <
            &kp EXCL       // SW1
            &trans         // SW2
            &trans         // SW3
            &kp AT         // SW4
            &arrow_macro   // SW5
            &kp GRAVE      // SW6
            &kp HASH       // SW7
            &trans         // SW8
            &kp TILDE      // SW9
            &trans         // SW10 左親指
            &kp DLLR       // SW11
            &trans         // SW12
            &trans         // SW13
            &trans         // SW14 左親指
            &kp PRCNT      // SW15
            &trans         // SW16
            &trans         // SW17
            &kp CARET      // SW18
            &trans         // SW19
            &trans         // SW20
            &trans         // SW21 左親指
            &kp AMPS       // SW22
            &kp LBKT       // SW23
            &trans         // SW24
            &trans         // SW25 右親指
            &kp ASTRK      // SW26
            &kp RBKT       // SW27
            &trans         // SW28
            &kp LPAR       // SW29
            &kp LBRC       // SW30
            &trans         // SW31
            &trans         // SW32 右親指
            &kp RPAR       // SW33
            &kp RBRC       // SW34
            &trans         // SW35
            &trans         // SW36 右親指
            &kp UNDER      // SW37
            &kp PIPE       // SW38
            &trans         // SW39
            &kp PLUS       // SW40
            &kp BSLH       // SW41
            &trans         // SW42
            >;
        };

        win_base {
            display-name = "win_base";
            bindings = <
            &kp TAB     // SW1  (row0,col0)
            &kp ESC     // SW2  (row1,col0)
            &kp LSHFT   // SW3  (row2,col0)
            &kp Q       // SW4  (row0,col1)
            &kp A       // SW5  (row1,col1)
            &kp Z       // SW6  (row2,col1)
            &kp W       // SW7  (row0,col2)
            &kp S       // SW8  (row1,col2)
            &kp X       // SW9  (row2,col2)
            &kp LCTRL   // SW10 (row3,col2) 左親指
            &kp E       // SW11 (row0,col3)
            &kp D       // SW12 (row1,col3)
            &kp C       // SW13 (row2,col3)
            &mo 4       // SW14 (row3,col3) 左親指
            &kp R       // SW15 (row0,col4)
            &kp F       // SW16 (row1,col4)
            &kp V       // SW17 (row2,col4)
            &kp T       // SW18 (row0,col5)
            &kp G       // SW19 (row1,col5)
            &kp B       // SW20 (row2,col5)
            &kp SPACE   // SW21 (row3,col5) 左親指
            &kp Y       // SW22 (row4,col5)
            &kp H       // SW23 (row5,col5)
            &kp N       // SW24 (row6,col5)
            &kp RET     // SW25 (row7,col5) 右親指
            &kp U       // SW26 (row4,col4)
            &kp J       // SW27 (row5,col4)
            &kp M       // SW28 (row6,col4)
            &kp I       // SW29 (row4,col3)
            &kp K       // SW30 (row5,col3)
            &kp COMMA   // SW31 (row6,col3)
            &mo 5       // SW32 (row7,col3) 右親指
            &kp O       // SW33 (row4,col2)
            &kp L       // SW34 (row5,col2)
            &kp DOT     // SW35 (row6,col2)
            &kp RCTRL   // SW36 (row7,col2) 右親指
            &kp P       // SW37 (row4,col1)
            &kp SEMI    // SW38 (row5,col1)
            &kp FSLH    // SW39 (row6,col1)
            &kp BSPC    // SW40 (row4,col0)
            &kp SQT     // SW41 (row5,col0)
            &kp RSHFT   // SW42 (row6,col0)
            >;
        };

        win_num {
            display-name = "win_num";
            bindings = <
            &kp N1      // SW1
            &trans      // SW2
            &trans      // SW3
            &kp N2      // SW4
            &trans      // SW5
            &trans      // SW6
            &kp N3      // SW7
            &trans      // SW8
            &trans      // SW9
            &trans      // SW10 左親指
            &kp N4      // SW11
            &trans      // SW12
            &trans      // SW13
            &trans      // SW14 左親指
            &kp N5      // SW15
            &trans      // SW16
            &trans      // SW17
            &kp N6      // SW18
            &trans      // SW19
            &trans      // SW20
            &trans      // SW21 左親指
            &kp N7      // SW22
            &kp LEFT    // SW23
            &trans      // SW24
            &trans      // SW25 右親指
            &kp N8      // SW26
            &kp DOWN    // SW27
            &trans      // SW28
            &kp N9      // SW29
            &kp UP      // SW30
            &trans      // SW31
            &trans      // SW32 右親指
            &kp N0      // SW33
            &kp RIGHT   // SW34
            &trans      // SW35
            &trans      // SW36 右親指
            &kp MINUS   // SW37
            &kp HOME    // SW38
            &kp PG_UP   // SW39
            &kp EQUAL   // SW40
            &kp END     // SW41
            &kp PG_DN   // SW42
            >;
        };

        win_sym {
            display-name = "win_sym";
            bindings = <
            &kp EXCL       // SW1
            &trans         // SW2
            &trans         // SW3
            &kp AT         // SW4
            &arrow_macro   // SW5
            &kp GRAVE      // SW6
            &kp HASH       // SW7
            &trans         // SW8
            &kp TILDE      // SW9
            &trans         // SW10 左親指
            &kp DLLR       // SW11
            &trans         // SW12
            &trans         // SW13
            &trans         // SW14 左親指
            &kp PRCNT      // SW15
            &trans         // SW16
            &trans         // SW17
            &kp CARET      // SW18
            &trans         // SW19
            &trans         // SW20
            &trans         // SW21 左親指
            &kp AMPS       // SW22
            &kp LBKT       // SW23
            &trans         // SW24
            &trans         // SW25 右親指
            &kp ASTRK      // SW26
            &kp RBKT       // SW27
            &trans         // SW28
            &kp LPAR       // SW29
            &kp LBRC       // SW30
            &trans         // SW31
            &trans         // SW32 右親指
            &kp RPAR       // SW33
            &kp RBRC       // SW34
            &trans         // SW35
            &trans         // SW36 右親指
            &kp UNDER      // SW37
            &kp PIPE       // SW38
            &trans         // SW39
            &kp PLUS       // SW40
            &kp BSLH       // SW41
            &trans         // SW42
            >;
        };
    };
};
